.tf-1 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.topicoF-2 {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer{
    background: rgba(0, 0, 0, 0.50);
}
/* BOTAO DE VOLTAR PARA CIMA */
#myBtn {
    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 30px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: black; 
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px; 
  }
  
  #myBtn:hover {
    background-color: #171D25;
  }