<div class="container-footer">
  <footer class="footer">
    <div class="container-fluid text-white py-4">
      <div class="row">
        <!-- Coluna 1 -->
        <div class="col-md-4 text-center">
          <p class="tf-1">Formas de Pagamento</p>
          <img
            class="img-fluid"
            src="assets/Footer/Fromas-Pagamento.png"
            alt=""
          />
        </div>
        <!-- Coluna 2 -->
        <div class="col-md-4 text-center">
          <p class="tf-1">SIGA-NOS</p>
          <div class="row justify-content-center">
            <div class="col-md-1">
              <i class="bi bi-facebook"></i>
            </div>
            <div class="col-md-1">
              <i class="bi bi-instagram"></i>
            </div>
            <div class="col-md-1">
              <i class="bi bi-twitter-x"></i>
            </div>
          </div>
        </div>
        <!-- Coluna 3 -->
        <div class="col-md-4 text-center">
          <img class="img-fluid" src="assets/Footer/logo-footer.png" alt="" />
        </div>
      </div>
    </div>
  </footer>
  <hr class="footer-divider my-0" style="height: 2px; border: none" />
  <footer class="footer">
    <div class="d-flex justify-content-center">
      <div class="container text-white py-4">
        <div class="row">
          <!-- Institucional -->
          <div class="col">
            <h5 class="tf-1">Institucional</h5>
            <ul class="list-unstyled">
              <li class="topicoF-2">Quem somos</li>
              <li class="topicoF-2">Termos e Condições de Venda</li>
              <li class="topicoF-2">Política de Troca e Devoluções</li>
              <li class="topicoF-2">Política de Segurança e Privacidade</li>
              <li class="topicoF-2">Política de Cookies</li>
            </ul>
          </div>
          <!-- Dúvidas -->
          <div class="col">
            <h5 class="tf-1">Dúvidas</h5>
            <ul class="list-unstyled">
              <li class="topicoF-2">Como Comprar</li>
              <li class="topicoF-2">Prazos e entregas</li>
              <li class="topicoF-2">Formas de Pagamento</li>
            </ul>
          </div>
          <!-- CLIENTE -->
          <div class="col">
            <h5 class="tf-1">Cliente</h5>
            <ul class="list-unstyled">
              <li class="topicoF-2">Minha conta</li>
              <li class="topicoF-2">Meus Pedidos</li>
              <li class="topicoF-2">Meus Chamados</li>
            </ul>
          </div>
          <!-- AJUDA -->
          <div class="col">
            <h5 class="tf-1">Ajuda</h5>
            <ul class="list-unstyled">
              <li class="topicoF-2">Video Tutorial</li>
              <li class="topicoF-2">Manuseio do Produto</li>
              <li class="topicoF-2">Fale Conosco</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
