<div class="container-fluid sessao2">
    <p class="texto2 px-5 pt-3">Compre Aqui</p>
    <div class="row px-5 pb-4 banners-pequenos">
        <div class="col-md-6 d-flex justify-content-center flex-column ">
            <img src="assets/Banners-Pequenos/Banner-Pequeno1.png" alt="Imagem 1" class="img-fluid">
            <h3 class="text-white mt-2 text-start">Kit Gamer</h3>
        </div>

        <div class="col-md-6 d-flex justify-content-center flex-column">
            <img src="assets/Banners-Pequenos/Banner-Pequeno2.png" alt="Imagem 2" class="img-fluid">
            <h3 class="text-white mt-2 text-start">Peças para seu computador</h3>
        </div>
    </div>

    <p class="texto2 px-5">Nossos Produtos</p>
    <div class="row justify-content-center px-5 pb-3">
        <!-- Imagem 1 -->
        <div class="col">
            <img src="assets/SessaoNossosProdutos/Perífericos.png" class="img-fluid m-2" style="width: 9vw;">
            <div class="mt-2">
                <span class="titulo-imagem">Periféricos</span>
            </div>
        </div>
        <!-- Imagem 2 -->
        <div class="col">
            <img src="assets/SessaoNossosProdutos/Gabiinete.png" class="img-fluid m-2" style="width: 9vw;">
            <div class="mt-2">
                <span class="titulo-imagem">Gabinete</span>
            </div>
        </div>
        <!-- Imagem 3 -->
        <div class="col">
            <img src="assets/SessaoNossosProdutos/Pc Gamer.png" class="img-fluid m-2" style="width: 9vw;">
            <div class="mt-2">
                <span class="titulo-imagem">Pc Gamer</span>
            </div>
        </div>
        <!-- Imagem 4 -->
        <div class="col">
            <img src="assets/SessaoNossosProdutos/Hardware.png" class="img-fluid m-2" style="width: 9vw;">
            <div class="mt-2">
                <span class="titulo-imagem">Hardware</span>
            </div>
        </div>
        <!-- Imagem 5 -->
        <div class="col">
            <img src="assets/SessaoNossosProdutos/Refrigeração.png" class="img-fluid m-2" style="width: 9vw;">
            <div class="mt-2">
                <span class="titulo-imagem">Refrigeração</span>
            </div>
        </div>
        <!-- Imagem 6 -->
        <div class="col">
            <img src="assets/SessaoNossosProdutos/Monitor.png" class="img-fluid m-2" style="width: 9vw;">
            <div class="mt-2">
                <span class="titulo-imagem">Monitor</span>
            </div>
        </div>
        <!-- Imagem 7 -->
        <div class="col">
            <img src="assets/SessaoNossosProdutos/Cadeira Gamer.png" class="img-fluid m-2" style="width: 9vw;">
            <div class="mt-2">
                <span class="titulo-imagem">Cadeira gamer</span>
            </div>
        </div>
        <!-- Imagem 8 -->
        <div class="col">
            <img src="assets/SessaoNossosProdutos/Manutenção.png" class="img-fluid m-2" style="width: 9vw;">
            <div class="mt-2">
                <span class="titulo-imagem">Manutenção</span>
            </div>
        </div>
    </div>
</div>